
main {
  display: flex;
  justify-content: center;
}

.movie_form {
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

